.mainContainer{
    display: flex;
    flex-direction: column;
}

.introSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introText{
    padding: 24px 100px;
}

h1{
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-family: 'Georgia', serif;
}

h1 span{
    color: #1a331a;
}

p{
    font-size: 24px;
}

h3{
    font-size: 36px;
    font-family: 'Georgia', serif;
}

.gallerySection{
    margin-top: 32px;
    margin-bottom: 32px;
}

.gallerySection h3{
    text-align: center;
}

.galleryItems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.tipImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

ul{
    text-align: center;
    list-style: none;    
    padding: 0;         
    margin: 16px; 
    font-size: 24px;          
}